<script>
    console.log('heelo');
    let trackInfo = <%- JSON.stringify(track) %>;
</script>


<div class="page-content">
    <div class="track-container">
        <div class="track-sub-cont">
            <div class="track">
                <div class="track-info-1">
                    <div class="track-img-container">
                        <img src="<%- track.coverPath %>" alt="">
                    </div>
                    <div class="track-heading">
                        <h1 class="track-title"> <%- track.songName %> </h1>
                        <p class="track-artist">SIXON</p>
                        <div class="track-play" onclick="playTrack()">
                                <i class="fas fa-play"></i>
                            <i class="fas fa-pause"></i>
                        </div>
                    </div>
                </div>
                <div class="track-info-2">
                    
                    <div class="track-details">
                        <div class="track-bpm">
                            <p class="details-heading">BPM</p>
                            <p class="details"><%- track.songBpm %></p>
                        </div>
                        <div class="track-length">
                            <p class="details-heading">Length</p>
                            <p class="details"><%- track.songDuration %></p>
                        </div>
                        <div class="track-sold">
                            <p class="details-heading">Availability</p>
                            <p class="details">
                                <% if (track.isAvailable) { %>
                                    <span class="available">Available for purchase</span>
                                <% } else { %>
                                    <span class="sold">SOLD</span>
                                <% } %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="player">
    <div>
        <div class="player-2">
            <div class="slider-container">
                <!-- <p class="current-time">0:00</p> -->
                <input type="range" value="1" class="seek-slider" min="1" max="10000" oninput="seek()">
                <!-- <p class="end-time">0:00</p> -->
            </div>
        </div>
        <div class="player-1">
            <div class="player-info">
                <div class="player-art">
                    <img src="" alt="">
                </div>
                <div class="player-title">
                    <p>test</p>
                </div>
            </div>
            <div class="player-control">
                <div class="player-prev" onclick="prevSong()">
                        <i class="fas fa-step-backward"></i>
                    </div>
                    <div class="player-play" onclick="setPlayState('.track-play')">
                            <i class="fas fa-play-circle" style="display:none"></i>
                    <i class="fas fa-pause-circle" ></i>
                </div>
                <div class="player-next" onclick="nextSong()">
                        <i class="fas fa-step-forward"></i>
                    </div>
                </div>
                <div class="player-volume">
                    <div class="volume-display" onclick="toggleVolume()">
                    <i class="fas fa-volume-up"></i>
                    <i class="fas fa-volume-mute" style="display:none"></i>
                </div>
                <div class="slider-container-2">
                    <input type="range" min="1" max="100"
                    value="99" class="volume-slider" oninput="setVolume()">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/track.js"></script>